.app-menu {
  position: absolute;
  top: 28px;
  left: 28px;
  width: 300px;
  height: 300px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 9px 12px -6px rgba(0,0,0,.2), 0 19px 29px 2px rgba(0,0,0,.14), 0 7px 36px 6px rgba(0,0,0,.12);
  // opacity: 0.6;
  // background-color: #323232;
}

.menu-wrapper {
  width: 100%;
  height: 100%;

  .entry-active {
    .menu-item:hover {
      background-color: #eee;
    }
  }

  .menu-item {
    padding: 0 20px;
    transition: 0.2s;
    cursor: pointer;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      font-size: 15px;
      padding: 0 10px;
      transition: transform 0.2s ease;
    }
    &:hover {
      span {
        transform: translateX(7px);
      }
    }
    .icon-bookmark {
      font-size: 22px;
    }
    .icon-apps {
      font-size: 23px;
    }
    .icon-extend {
      font-size: 20px;
      padding-left: 2px;
    }
    .icon-history {
      font-size: 23px;
      padding-left: 3px;
    }
    .icon-download {
      font-size: 26px;
      padding-left: 3px;
    }
  }
}

.menu-entry-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.menu-content-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 300px;
}

:host /deep/ {

  .menu-content-wrapper>div{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
  }

  .menu-content-wrapper {
    .apps-items, .history-items {
      flex: 1;
      overflow-y: auto;
    }
    .item {
      font-size: 15px;
      display: flex;
      padding: 20px;
      cursor: pointer;
      justify-content: space-between;
      transition: 0.2s;
      span {
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .enabled {
        color: #ccc;
      }
      &:hover {
        background-color: #eee;
        i {
          opacity: 1;
        }
      }
      i {
        opacity: 0;
        transition: 0.1s;
      }
    }
  }

}
