<div class="app-menu">
  <!--<div class="menu-icon">
    <div></div><div></div><div></div>
  </div>-->
  <div class="menu-wrapper">

    <div class="menu-entry-wrapper">
      <div class="menu-item"><i class="iconfont icon-bookmark"></i> <span>书签</span></div>
      <div class="menu-item"><i class="iconfont icon-apps"></i> <span>应用程序</span></div>
      <div class="menu-item"><i class="iconfont icon-extend"></i> <span>扩展程序</span></div>
      <div class="menu-item"><i class="iconfont icon-history"></i> <span>历史记录</span></div>
      <div class="menu-item"><i class="iconfont icon-download"></i> <span>下载</span></div>
    </div>
    <div class="menu-content-wrapper"></div>
  </div>
</div>
