.setting-content {
  position: absolute;
  right: 20px;
  bottom: 20px;

  .setting-items {
    font-size: 14px;
    position: absolute;
    top: -110px;
    left: -178px;
    width: 200px;
    height: 100px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 9px 12px -6px rgba(0, 0, 0, 0.2), 0 19px 29px 2px rgba(0, 0, 0, 0.14), 0 7px 36px 6px rgba(0, 0, 0, 0.12);
    transform-origin: right bottom;
    &:after {
      content: '';
      position: absolute;
      bottom: -6px;
      right: 8px;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: #fff transparent transparent transparent;
      border-width: 6px 6px 0 6px;
    }
  }

  .icon-random {
    display: block;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: color 0.2s;
    animation-timing-function: ease-in-out;
    animation-name: breathe;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
    }
    &:hover {
      color: rgb(255, 255, 255);
    }
  }


  @keyframes breathe {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

}

