<div class="apps-wrapper">
  <return-header [config]="extendsConfig"></return-header>
  <div class="apps-items">
    <div *ngFor="let item of extends; let i = index" class="item">
      <span class="{{ item.enabled ? '' : 'enabled' }}">{{ item.name }}</span>
      <div>
        <i [mdMenuTriggerFor]="menu" class="iconfont icon-more"></i>
        <md-menu class="setting-menu" #menu="mdMenu">
          <div class="setting-item" (click)="onSetState(item.id)">{{ item.enabled ? 'Disabled' : 'Enabled' }}</div>
          <div class="setting-item" (click)="onUnInstall(item.id)">Uninstall</div>
        </md-menu>
      </div>
    </div>
    <div [hidden]="extends && extends.length">
      <div class="nodata">No extends yet</div>
    </div>
  </div>
</div>
