<div class="return-header">
  <div (click)="returnBack()" class="return">
    <i class="iconfont icon-return"></i>
    <span>{{ config.name }}</span>
  </div>
  <div class="setting">
    <i [mdMenuTriggerFor]="menu" class="iconfont icon-set"></i>
    <md-menu class="setting-menu" #menu="mdMenu">
      <div (click)="setIndex()" class="setting-item">
        <!--<i class="iconfont icon-fixation"></i>-->
        <span>{{ setIndexState ? '取消设置' : '设置为入口' }}</span>
      </div>
    </md-menu>
  </div>
</div>
