<div class="return-header">
  <div (click)="returnBack()" class="return">
    <i class="iconfont icon-return"></i>
    <span>{{ config.name }}</span>
  </div>
  <div class="setting">
    <i [mdMenuTriggerFor]="menu" class="iconfont icon-set"></i>
    <md-menu class="setting-menu" #menu="mdMenu">
      <div (click)="setIndex()" class="setting-item">
        <!--<i class="iconfont icon-fixation"></i>-->
        <span>{{ setIndexState ? '取消设置' : '设置为入口' }}</span>
      </div>
      <div (click)="skip()" class="setting-item">
        <span>{{ config.skipName }}</span>
      </div>
      <div *ngFor="let item of menuItmes; let i = index" (click)="item.fn()" class="setting-item">
        <span>{{ item.name }}</span>
      </div>
    </md-menu>
  </div>
</div>
