<div class="app-search" [@visible]="visible" (mouseover)="onVisible('open')">
  <div class="search-input-wrapper">
    <div class="icon-wrapper"><i class="iconfont icon-google"></i></div>
    <input type="text" class="search-input" [(ngModel)]="value" #searchInput [formControl]="stateCtrl" (keyup.enter)="onEnterSearch(value)" [mdAutocomplete]="auto" placeholder="Google search">
  </div>
  <div class="filter-bg"></div>
</div>

<md-autocomplete #auto="mdAutocomplete">
  <div class="filter-bg autocomplete-filter" [style.height.px]="height"></div>
  <md-option class="autocomplete-option" (click)="onEnterSearch(state)" *ngFor="let state of antistop" [value]="state">
    {{ state }}
  </md-option>
</md-autocomplete>
