<div class="history-wrapper">
  <return-header [config]="historyConfig"></return-header>
  <div class="history-items">
    <div [hidden]="!historys || !historys.length" class="history-search-wrapper">
      <input type="text" #search (keyup.enter)="onEnterSearch(search.value)" placeholder="Search history">
    </div>
    <div *ngFor="let item of historys; let i = index" class="item">
      <span>{{ item.title || item.url }}</span>
      <div>
        <i [mdMenuTriggerFor]="menu" class="iconfont icon-more"></i>
        <md-menu class="setting-menu" #menu="mdMenu">
          <div class="setting-item" (click)="onOpen(item)">Open</div>
          <div class="setting-item" (click)="onDelete(item)">Delete</div>
        </md-menu>
      </div>
    </div>
    <div [hidden]="historys && historys.length">
      <div class="nodata">No history</div>
    </div>
  </div>
</div>
