
@import '../node_modules/normalize.css/normalize.css';

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  box-sizing: border-box;
}

html, body, app-root {
  width: 100%;
  height: 100%;
  background-color: #111;
}

/* Apps Component */
.setting-menu {
  .setting-item {
    cursor: pointer;
    padding: 10px;
    &:hover {
      background-color: #eee;
    }
  }
}


/* MdMenu Component */
.mat-menu-panel {
  border-radius: 2px;
}

/* MdAutocomplete Component */
.mat-autocomplete-panel-below {
  border-radius: 4px;
  background-color: transparent;
}
.autocomplete-filter {
  position: absolute;
  left: 0;
  top: 0;
}
.filter-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  filter: blur(20px);
}
.autocomplete-option {
  padding-left: 30px;
}
