<div class="apps-wrapper">
  <return-header [config]="appsConfig"></return-header>
  <div class="apps-items">
    <div *ngFor="let item of apps; let i = index" class="item">
      <span class="{{ item.enabled ? '' : 'enabled' }}">{{ item.name }}</span>
      <div>
        <i [mdMenuTriggerFor]="menu" class="iconfont icon-more"></i>
        <md-menu class="setting-menu" #menu="mdMenu">
          <div class="setting-item" (click)="onSetState(item.id)">{{ item.enabled ? '禁用' : '启用' }}</div>
          <div class="setting-item" (click)="onUnInstall(item.id)">卸载</div>
        </md-menu>
      </div>
    </div>
    <div [hidden]="apps && apps.length">
      <div class="nodata">暂无应用程序</div>
    </div>
  </div>
</div>
