<div class="apps-wrapper">
  <div class="menu-header">
    <div (click)="sendToParent()" class="return">
      <i class="iconfont icon-return"></i>
      <span>应用程序</span>
    </div>
    <div class="setting">
      <i class="iconfont icon-set"></i>
    </div>
  </div>
  <div class="apps-items">
    <div *ngFor="let item of apps" class="item">
      <span>{{ item.name }}</span>
      <div>
        <i [mdMenuTriggerFor]="menu" class="iconfont icon-more"></i>
        <md-menu class="setting-menu" #menu="mdMenu">
          <div class="setting-item" (click)="onSetState(item)">禁用</div>
          <div class="setting-item" (click)="onDelete(item)">删除</div>
        </md-menu>
      </div>
    </div>
  </div>
</div>
